---
const number = 11;
const day = "Mon";
---

<div class="card w-[75px] shadow outline outline-1 outline-secondary-focus">
  <div class="card-body items-center text-center text-secondary-focus">
    <div class="font-semibold">{number}</div>
    <div class="font-semibold">{day}</div>
  </div>
</div>
