<div class="card shadow outline outline-1 outline-secondary-focus mx-2">
  <div class="flex flex-col m-3">
    <div class="font-normal text-sm">Ensalda de verduras</div>
    <div class="divider m-0"></div>
    <div class="font-light text-xs">9am - 10am</div>
  </div>
</div>
